.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;
    top: 15%;
    left: 30%;*/
    padding-top: 1em;
}

#center {
    text-align: center;
}

section {
    border: solid thick;
}

body {
    background-color: rgb(197, 197, 197);
}

.change {
    background-color: black;
}

button {
    margin: 0 auto;
    display: flex;
    /*justify-content: center;
    align-items:center;*/
}